<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Applications</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/821a0ff069.js" crossorigin="anonymous"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>
<body>
<div th:switch="${apps}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No applications yet!</h2>
            <div th:case="*">
                <h2>RMIT Homework</h2>
    <table class="table table-striped table-responsive-md sortable">
    <thead>
    <tr>
        <th>Name</th>
        <th>App_Group</th>
        <th>App_Type</th>
        <th>Description</th>
        <th>App_cost</th>
        <th>Last_Modified</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${apps}">
        <td th:text="${app.name}"></td>
        <td th:text="${app.appGroup}"></td>
        <td th:text="${app.appType}"></td>
        <td th:text="${app.description}"></td>
        <td th:text="${app.appCost}"></td>
        <td th:text="${app.lastModified}"></td>
        <td><a th:href="@{/edit/{id}(id=${app.id})}" class="btn"><i class="fas fa-pencil-alt"></i></a></td>
        <td><a th:href="@{/delete/{id}(id=${app.id})}" class="btn"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
</table>
</div>
<p class="my-5"><a href="/addApplication" class="btn btn-outline-secondary">Add new Application</a></p>
        </div>
    </div>
</div>
</body>
</html>
